<mat-card [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mb-1 mx-auto"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://picsum.photos/150"
      alt="Product Image"
    />

    <!-- When fullWidthMode is true, flex in columns and justify -->
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Sneakers</p>
        <p *ngIf="fullWidthMode">Description - lorem</p>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-red-400 font-bold">{{
          "150" | currency : "USD"
        }}</span>
        <button (click)="onAddToCart()" mat-button>
          <mat-icon class="text-grey-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
